<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TV Dashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/475590f864.js" crossorigin="anonymous"></script>
    <link href="~/css/Chosen Plugin/chosen.min.css" rel="stylesheet" />
</head>

<body style="background-color:rgb(240, 240, 244); overflow-y: hidden">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid text-left">
                <img style="zoom: 50%; " src="~/img/logo.png" />
            </div>
        </nav>
    </header>

    <div>
        <main role="main" class="pb-3" >
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer footer-light text-light bg-dark fixed-bottom">
        <div class="container text-center">
            &copy; 2022 - 'TV Dashboard Application' created by Michal Zielinski
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
